USE [master]
GO
/****** Object:  Database [Diplom]    Script Date: 17.05.2023 13:37:49 ******/
CREATE DATABASE [Diplom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diplom', FILENAME = N'E:\2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Diplom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Diplom_log', FILENAME = N'E:\2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Diplom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diplom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diplom]
GO
/****** Object:  Table [dbo].[ActionProduct]    Script Date: 17.05.2023 13:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionProduct](
	[artikul] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Provide] [varchar](255) NOT NULL,
	[ProductQuantity] [int] NOT NULL,
	[ProductUnit] [varchar](5) NOT NULL,
	[DateAction] [date] NOT NULL,
	[StatusProduct] [varchar](7) NULL,
 CONSTRAINT [PK_ISSUED] PRIMARY KEY CLUSTERED 
(
	[artikul] ASC,
	[DateAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.05.2023 13:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Artikul] [int] NOT NULL,
	[NameProduct] [varchar](255) NOT NULL,
	[Provider] [varchar](255) NOT NULL,
	[DateOfDelivery] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[quantity] [int] NOT NULL,
	[UnitProduct] [varchar](5) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[Artikul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 17.05.2023 13:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ProvidersName] [varchar](255) NOT NULL,
	[Adress] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvidersName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 17.05.2023 13:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[status] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 17.05.2023 13:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unit] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionProduct]  WITH CHECK ADD  CONSTRAINT [Product_fk0] FOREIGN KEY([artikul])
REFERENCES [dbo].[Product] ([Artikul])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ActionProduct] CHECK CONSTRAINT [Product_fk0]
GO
ALTER TABLE [dbo].[ActionProduct]  WITH CHECK ADD  CONSTRAINT [Product_fk1] FOREIGN KEY([StatusProduct])
REFERENCES [dbo].[Status] ([status])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ActionProduct] CHECK CONSTRAINT [Product_fk1]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Product_fk2] FOREIGN KEY([UnitProduct])
REFERENCES [dbo].[Unit] ([unit])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Product_fk2]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Product_fk3] FOREIGN KEY([Provider])
REFERENCES [dbo].[Providers] ([ProvidersName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Product_fk3]
GO
USE [master]
GO
